#app-content {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#app-content.page-exit {
    opacity: 0;
    transform: translateY(20px);
}

#app-content.page-enter {
    opacity: 0;
    transform: translateY(-20px);
}

/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease, filter 0.4s ease;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #212121;
    overflow-x: hidden;

}

body.loaded {
    opacity: 1;
}

#app-content.fade-out {
    opacity: 0;
    transform: scale(0.96);
    filter: blur(8px);
}


section {
    scroll-margin-top: 90px;
    min-height: 100vh;
    padding: clamp(60px, 8vw, 120px) clamp(16px, 6vw, 120px);
}
