/* ===== BUTTON ===== */
.top_nav_bg {
    --color-primary: #212121a2;
    --color-border: rgba(247, 228, 121, 0.25);

    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-border);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ===== TOP NAV ===== */
.top-nav {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    /* safety */
}

/* ===== NAV INNER ===== */
.nav-inner {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 20px;
    padding: 16px 24px;
}

/* ===== LINKS ===== */
.nav-inner a {
    position: relative;
    padding: 6px 4px;

    color: grey;
    text-decoration: none;
    font-weight: 500;

    z-index: 2;
    transition: color 0.3s ease;
}

.nav-inner a.active {
    color: #f7e479;
}

/* ===== GLOW GLIDER ===== */
.nav-glider {
    --main-color: #f7e479;

    will-change: left, width;
    position: absolute;
    bottom: 6px;
    left: 0;

    height: 1.25px;
    width: 0;

    background: linear-gradient(90deg,
            transparent 0%,
            rgba(247, 228, 121, 0.25) 20%,
            var(--main-color) 50%,
            rgba(247, 228, 121, 0.25) 80%,
            transparent 100%);

    transition:
        left 0.45s cubic-bezier(0.37, 1.95, 0.66, 0.56),
        width 0.45s cubic-bezier(0.37, 1.95, 0.66, 0.56);
}

/* ===== DIFFUSED CORE ===== */
.nav-glider::before {
    content: "";
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 340%;
    height: 120%;

    background: radial-gradient(ellipse at center,
            var(--main-color) 0%,
            rgba(247, 228, 121, 0.35) 30%,
            rgba(247, 228, 121, 0.15) 55%,
            transparent 70%);

    filter: blur(14px);
    opacity: 0.85;
    pointer-events: none;
}

/* ===== UPWARD LIGHT FADE ===== */
.nav-glider::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 160px;

    background: linear-gradient(0deg,
            rgba(247, 228, 121, 0.18) 0%,
            rgba(247, 228, 121, 0.08) 25%,
            rgba(247, 228, 121, 0.02) 45%,
            transparent 70%);

    filter: blur(6px);
    pointer-events: none;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

    html,
    body {
        max-width: 100%;
    }


    .nav-inner {
        justify-content: right;
        gap: 14px;
        padding: 12px;
        flex-wrap: wrap;
    }

    .nav-inner a {
        font-size: 14px;
        padding: 6px 2px;
    }
}