/* LEFT TOGGLE BUTTON */
#menu-btn {
    position: fixed;
    left: 20px;
    top: 10px;
    z-index: 1001;
}


/* LEFT SIDEBAR */
#side-nav {
    position: fixed;
    width: 120px;
    height: 100vh;
    padding: 90px 0px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-x: hidden;

    --color-primary: #212121a2;
    --color-border: rgba(247, 228, 121, 0.25);

    background-color: var(--color-primary);
    border-right: 1px solid var(--color-border);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#side-nav a {
    display: block;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
}

#side-nav .bottom {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

/* ACTIVE STATE */
#side-nav.active {
    transform: translateX(0);
}

/* Hide the default checkbox */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #f7e479;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}











.radio-container {
    --main-color: #f7e479;
    --main-color-opacity: #f7e4791c;

    /* change this according inputs count */
    --total-radio: 4;

    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 0.5rem;
}

.radio-container input {
    cursor: pointer;
    appearance: none;
}

.radio-container .glider-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(27, 27, 27, 1) 50%,
            rgba(0, 0, 0, 0) 100%);
    width: 1px;
}

.radio-container .glider-container .glider {
    position: relative;
    height: calc(100% / var(--total-radio));
    width: 100%;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0) 0%,
            var(--main-color) 50%,
            rgba(0, 0, 0, 0) 100%);
    transition: transform 0.5s cubic-bezier(0.37, 1.95, 0.66, 0.56);
}

.radio-container .glider-container .glider::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 300%;
    top: 50%;
    transform: translateY(-50%);
    background: var(--main-color);
    filter: blur(10px);
}

.radio-container .glider-container .glider::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg,
            var(--main-color-opacity) 0%,
            rgba(0, 0, 0, 0) 100%);
}

.radio-container label {
    cursor: pointer;
    padding: 1rem;
    position: relative;
    color: grey;
    transition: all 0.3s ease-in-out;
}

.radio-container input:checked+label {
    color: var(--main-color);
}

.radio-container input:nth-of-type(1):checked~.glider-container .glider {
    transform: translateY(0);
}

.radio-container input:nth-of-type(2):checked~.glider-container .glider {
    transform: translateY(100%);
}

.radio-container input:nth-of-type(3):checked~.glider-container .glider {
    transform: translateY(200%);
}

.radio-container input:nth-of-type(4):checked~.glider-container .glider {
    transform: translateY(300%);
}

.radio-container input:nth-of-type(5):checked~.glider-container .glider {
    transform: translateY(400%);
}

.radio-container input:nth-of-type(6):checked~.glider-container .glider {
    transform: translateY(500%);
}

.radio-container input:nth-of-type(7):checked~.glider-container .glider {
    transform: translateY(600%);
}

.radio-container input:nth-of-type(8):checked~.glider-container .glider {
    transform: translateY(700%);
}

.radio-container input:nth-of-type(9):checked~.glider-container .glider {
    transform: translateY(800%);
}

.radio-container input:nth-of-type(10):checked~.glider-container .glider {
    transform: translateY(900%);
}

.radio-container .glider-container,
.radio-container .glider-container *,
.radio-container .glider-container *::before,
.radio-container .glider-container *::after {
    pointer-events: none;
}