/* LEFT TOGGLE BUTTON */
#menu-btn {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 1001;
    font-size: 22px;
    cursor: pointer;
}

/* LEFT SIDEBAR */
#side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background: #555;
    padding: 60px 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;

}

#side-nav a {
    display: block;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
}

#side-nav .bottom {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

/* ACTIVE STATE */
#side-nav.active {
    transform: translateX(0);
}