/* LEFT TOGGLE BUTTON */
#menu-btn {
    position: fixed;
    left: 20px;
    top: 10px;
    z-index: 1001;
}


/* LEFT SIDEBAR */
#side-nav {
    position: fixed;
    width: 120px;
    height: 100vh;
    padding: 90px 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;

    --color-primary: #212121a2;
    --color-border: rgba(247, 228, 121, 0.25);

    background-color: var(--color-primary);
    border-right: 1px solid var(--color-border);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#side-nav a {
    display: block;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
}

#side-nav .bottom {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

/* ACTIVE STATE */
#side-nav.active {
    transform: translateX(0);
}

/* Hide the default checkbox */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #f7e479;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}