/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin: 0px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid var(--grey-color);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: var(--theme-color);
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked+.slider {
    box-shadow: 0 0 20px var(--theme-color);
    border: 2px solid var(--theme-color);
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
}

.switch-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin: 0px;
}

.switch-label {
    font-size: 12px;
    color: var(--theme-color);
    user-select: none;
    text-align: center;
}